body{
    margin: 0;
}
.nav{
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.nav>img{
    width: 300px;
    padding: 10px;
}
.center{
    float: right;  
    width: 200px;
    padding: 10px;

}
.center a{
    text-decoration: none;
    color: white;
    padding: 10px;
}